.authentication-container {
    width: 100%;
    height: 100%;
}

.demo-page-header {
    display: flex;
    width: 90%;
    position: fixed;
    height: 2rem;
    font-size: 0.9rem;
    padding: 0.5rem 5%;
    background: rgb(16, 3, 155);
    /* border-bottom: 1.5px solid #e6e8ec; */
    /* z-index: 100000; */
    /* box-shadow: 0px 2px 10px #000000; */
    justify-content: space-between;
    align-items: center;
}

.demo-page-header .fluid-logo {
    height: 2rem;
}

.authentication-body-container {
    width: 90%;
    padding: 5%;
    height: 100%;
}

.action-body {
    height: 100%;
    display: flex;
    justify-content: space-between;
    min-height: 80vh;
}

/* .action-box-heading {
    width: 90%;
    padding: 5%;
    background: #fff;
    box-shadow: 0px 2px 10px #424242;
    border-radius: 5px;
    margin-bottom: 1%;
} */

.action-box {
    width: 60%;
    padding: 0% 5% 5% 5%;
    background: #fff;
    box-shadow: 0px 2px 5px #c2c2c2;
    border-radius: 5px;
}

.action-description {
    width: 25%;
    padding:0 2% 2% 2%;
    background: #fff;
    box-shadow: 0px 2px 5px #c2c2c2;
    border-radius: 5px;
}

h2, h3, h1 {
    font-family: "robotoBold"
}

p {
    font-family: "robotoLight"
}



.authenticate-button {
    box-shadow: 0px 2px 10px #aaa9a9;
    border: none;
    padding: 1% 3%;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    background: rgb(160, 0, 160);
    color: #fff;
}

.auth-button-box {
    display: flex;
}

.auth-check {
    font-size: 200%;
    margin: 0;
    color: green;
    padding-left: 2%
}

.invisible {
    display: none;
}

/* .data-loading-container {

} */

.training-button {
    box-shadow: 0px 2px 10px #c7c7c7;
    border: none;
    padding: 1% 3%;
    outline: none;
    cursor: pointer;
    margin-top: 5%;
    border-radius: 5px;
    background: rgb(160, 0, 160);
    color: #fff;
}

button {
    font-size: 130%;
}

button:hover {
    box-shadow: 0px 5px 10px #858585;
    background: rgb(211, 0, 211);
    color: #fff;
}



@keyframes blink {
    /**
     * At the start of the animation the dot
     * has an opacity of .2
     */
    0% {
      opacity: .2;
    }
    /**
     * At 20% the dot is fully visible and
     * then fades out slowly
     */
    20% {
      opacity: 1;
    }
    /**
     * Until it reaches an opacity of .2 and
     * the animation can start again
     */
    100% {
      opacity: .2;
    }
}

.saving {
    /**
     * Use the blink animation, which is defined above
     */
    animation-name: blink;
    /**
     * The animation should take 1.4 seconds
     */
    animation-duration: 1.4s;
    /**
     * It will repeat itself forever
     */
    animation-iteration-count: infinite;
    /**
     * This makes sure that the starting style (opacity: .2)
     * of the animation is applied before the animation starts.
     * Otherwise we would see a short flash or would have
     * to set the default styling of the dots to the same
     * as the animation. Same applies for the ending styles.
     */
    animation-fill-mode: both;
}

.saving:nth-child(2) {
    /**
     * Starts the animation of the third dot
     * with a delay of .2s, otherwise all dots
     * would animate at the same time
     */
    animation-delay: .2s;
}

.saving:nth-child(3) {
    /**
     * Starts the animation of the third dot
     * with a delay of .4s, otherwise all dots
     * would animate at the same time
     */
    animation-delay: .4s;
}